@font-face {
	font-family: NRKHode;
	src:url(NRKEticaSlabSemicnd-Bold.ttf);
}
@font-face {
	font-family: NRKListe;
	src:url(LFT_Etica_Reg.otf);
}
#dv {
	opacity:0;

}
body{
	background-color: rgba(0,0,0,0.05);
	padding : 0px;
	margin : 0px;
}
a{
	text-decoration:none;
}
foot{
	background-color: rgba(0,0,0,0.05);
}
table{
	border-collapse: collapse;
	font-size: 1.2em;
	border-spacing: 0;
}
table{
	border-collapse: collapse;
	font-size: 1.2em;
	border-spacing: 0;
}
#tabell td, th{
padding: 5px;
}
table #tabhode tr:nth-child(odd){
	background-color: rgba(0,0,0,0.03);
}
table #tabhode tr:nth-child(even){
	background-color: white;
}
td[scope="header"]{
	background-color:black;
	color:white;
}
table #scroll tr:nth-child(odd){
	background-color: rgba(0,0,0,0.03);
}
table #scroll tr:nth-child(even){
	background-color: white;
}
table #scroll td,th{
	padding: 5px;
	padding-inline-start:10px;
	padding-inline-end:10px;
	border-bottom: 2px solid rgba(0,0,0,0.05);
}
H2{
	text-align:Center;
	padding: 3px;
	color:white;
	background-color: rgb(229,28,48);
	margin-bottom:0px;
	font-size:2em;
	font-weight:Bold;
}
/*ML Stil*/
td[scope="rank"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:white;*/
	font-weight:Bold;
}
td[scope="lane"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:white;*/
}
td[scope="stnr"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="name"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="club"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="clas"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="cat"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="shot"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
	font-family: 'Courier New', Courier, monospace;
}
td[scope="series"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
	font-family: 'Courier New', Courier, monospace;
}
td[scope="stsum"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="tot"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:white;*/
	font-weight:Bold;
 white-space: nowrap;
}
td[scope="prize"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="mrk"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="cent"]{
	white-space:nowrap;
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="id"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:black;*/
}
td[scope="max"]{
/*	background-color:rgb(0,0,0,0.05);*/
/*	color:white;*/
	font-weight:Bold;
}
#blank{
	background-color:rgba(0,0,0,0.05);
}
#banner{
	background-color:rgba(0,0,0,0.05);
}
#contents{
	background-color:rgba(0,0,0,0.05);
}
#Tcont{
	background-color:rgba(0,0,0,0.05);
}
#Lcont{
	background-color:rgba(0,0,0,0.05);
}
#Rcont{
	background-color:rgba(0,0,0,0.05);
}
